/*ESTILO DEL HEADER GLOBAL CON TEMPLATE GRID*/
.main-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* 3 columnas: izquierda | centro | derecha */
  align-items: center;
  padding: 0 2rem;
  gap: 20px;
  margin: 0;
}

/*LOGO EN LA COLUMNA DEL CENTRO*/
.header-content {
  grid-column: 1/2; /* Ocupa la columna del centro */
  gap: 12px;
 margin-left: 6rem;
}



/*ESTILOS DEL ICONO Y TEXTO*/
.header-content i {
  display: inline-flex;
  color: var(--accent-primary);
  font-size: xx-large;
  font-weight: 100;
}

.header-content h1 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-content i:hover {
  transform: translateX(2px);
  transition: all 0.3s ease;
}



/*NAVEGACIÓN EN LA COLUMNA DERECHA*/
.main-nav {
  grid-column: 3/4; 
  justify-self: end; 
  
}

/*ESTILOS DE LA BARRA DE NAVEGACION DERECHA*/
.main-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  padding: 8px 12px;
  margin: 0;
}

.main-nav li > a {
  padding: 0.8rem 1rem;
  font-size: small;
  text-decoration: none;
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  white-space: nowrap;
}

/*ESTILOS ESPECÍFICOS DE BOTONES*/
.main-nav .sign-in-button {
  border: 2px solid var(--text-primary);
  background-color: transparent;
}

.main-nav .sign-in-button a {
  padding: 0.8rem 1rem;
  font-family: "Inter", sans-serif;
  font-size: small;
  font-weight: bold;
}

.main-nav .create-account-button {
  background-color: var(--text-secondary);
}

.main-nav .create-account-button a {
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
}

.main-nav .about-us-button {
  background-color: transparent;
}

.main-nav .about-us-button a {
  color: var(--text-primary);
  font-weight: 500;
}

.main-nav .about-us-button:hover{
  transform: translateY(-2px);
  transition: all 0.3s ease;
}



/*Estilo del cambio de tema*/
.theme-changer{
  grid-column: 3/4;
  display: inline-flex;
  background-color: transparent;
  border: transparent;
  color: var(--accent-primary);
  font-size: large;
}














/*EFECTOS HOVER*/
.main-nav .create-account-button:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-nav .sign-in-button:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.theme-changer:hover{
  cursor: pointer;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}






/*COLUMNA IZQUIERDA VACÍA (opcional, para balance)*/
.main-header::before {
  content: "";
  grid-column: 1/2;
}

