<header class="main-header">
   <div class="header-content">
   <h1><span><i class="fa-solid fa-truck"></i></span>Stock Master</h1>
  
  </div>
  
     <nav class="main-nav">
    <ul>
      <li class="sign-in-button"><a routerLink="/login" id="link" >Sign in now</a></li>
      <li class="create-account-button"><a routerLink="/register" id="link">Create your account</a></li>
      <li class="about-us-button"><a routerLink="/about-us" id="link">Learn more about us</a></li>
       <button type="button" class="theme-changer"><i class="fa-solid fa-sun"></i></button>
    </ul>
  </nav>

</header>
